<div class="mainArea">
  <div class="container">
    <div class="columns is-centered">
      <div class="box colum is-one-third">
        <h1 class="title has-text-centred">Wörter Vergleicher</h1>
  
        <p class="has-text-centred">
      <span [class]="compare(letter,myInput[i])" *ngFor="let letter of myFaker.split(''); let i = index">{{letter}}</span>
      </p>
        <div class="field">
        <input class="input" (input)="myInputText($event.target.value)"/>
        </div>
        <div *ngIf="myFaker === myInput">
        <h1 class="title"> Bravo! </h1>
        </div>  

       </div>
    </div>
  </div>

</div>

